# comment

.env
.editorconfig
.git
.github
.cache
.mvn/
.gradle/
*.md
LICENSE
Makefile
vendor/

hooks/
build_repository/
workspace/
jobs/
plugins/
.cache/
.pcsc14/

caches/
logs/
ubuntu-scap/

Music/
Pictures/
Public/
Videos/
Downloads/
Templates/
Documents/
Desktop/
