---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  # truthy: disable
  # NOTE(retr0h): Templates no longer fail this lint rule.
  #               Uncomment if running old Molecule templates.
  truthy:
    allowed-values: ['true', 'false', 'on']
  # https://github.com/adrienverge/yamllint/issues/141
  comments-indentation: disable
ignore: |
  src/test/jenkins/jenkins.yaml
